__pycache__/
*$py.class
.env
.git
.venv/
venv/
.github/
.idea/
.vscode/
*.log
TS.md
aiotrade_data/user_data/backtest_results/
aiotrade_data/user_data/logs/
aiotrade_data/tradesv3.sqlite-shm
aiotrade_data/tradesv3.sqlite-wal
aiotrade_data/tradesv3.sqlite
aiotrade_data/logs/freqtrade.log.1
aiotrade_data/logs/freqtrade.log.2
__init__.py
.flake8
mypy.ini
pyproject.toml
.pre-commit-config.yaml
CHANGELOG.md
Note.txt
CHANG.MD

